.container {
  box-shadow: 0px -5px 20px rgba(59, 115, 197, 0.15);
}

.menu {
  color: #7E94B3;
  border-color: transparent;
  path, circle {
    fill: rgba(var(--color-base), 0.2);
    &[d="M4.26 19.08h2.83v-2.83"] {
      stroke: rgba(var(--color-base), 0.2);
    }
  }
  &-active {
    color: rgb(var(--color-base));
    border-color: rgb(var(--color-base));
    path {
      fill: rgb(var(--color-base));
    }
  }
}
