.wrapper {
  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }
}
.icon {
  width: 12px;
  height: 12px;
  border: 2px solid rgba(var(--color-base), var(--tw-border-opacity));
  border-radius: 4px;
}