@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #555555;
  background-color: #DCE5EF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-base: 59, 115, 197;
  --color-base-secondary: 38, 74, 128;
  --color-base-tertiary: 244, 247, 250;
  --color-text: 29, 57, 98;
}

/* Custom utilities class */
@layer utilities {
    .ls-0\.025 {
        letter-spacing: 0.025em;
    }
    .mt-min-5 {
      margin-top: -1.25rem;
    }
    .mt-min-12 {
      margin-top: -3rem;
    }
    .px-0i {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .rounded-100 {
      border-radius: 100px !important;
    }
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}
textarea:focus, input:focus {
  outline: none;
}