.container {
    min-height: 100vh;
}

.guide-border {
    border-bottom: solid 2px #EAEFF7;
}

.number-circle {
    padding: 4px;
    width: 50%;
    max-width: 32px;
    min-width: 32px;
    height: auto;
    border-radius: 50%;
    background-color: #6C96D3;
}