.keyakinan-range {
    background: #9DB9E2;
    border: solid 1px #82cfd0;
    border-radius: 8px;
    height: 7px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.keyakinan-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ffffff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #F69320;
  cursor: pointer;
}

/* All the same stuff for Firefox */
.keyakinan-range::-moz-range-thumb {
  border: 1px solid #ffffff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #F69320;
  cursor: pointer;
}

/* All the same stuff for IE */
.keyakinan-range::-ms-thumb {
  border: 1px solid #ffffff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #F69320;
  cursor: pointer;
}
