.icon-color {
    path {
        fill: white;
    }
}

.icon-notification {
    position: absolute;
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    transform: translateX(8px);

    &:after {
        content: '';
        position: absolute;
        background-color: #FF6724;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        transform: translate(2px, 2px);
    }
}