$form-valid: rgba(224, 233, 243, 1);
$form-invalid: rgba(247, 201, 211, 1);

%textarea {
    width: 100%;
    border-radius: 0.75em;
    padding: 0.75em 1.25em;
    resize: none;
    background-color: $form-valid;
}

.textareavalid {
    @extend %textarea;
    background-color: $form-valid;
}

.textareainvalid {
    @extend %textarea;
    background-color: $form-invalid;
}